/* CSS declarations go here */
.judge {
  margin: 30px;
}

.score {
  font-size: 50px;
  font-weight: bold;
  position: relative;
  right: 320px;
  bottom: 130px;
}
.arc path {
  stroke: #fff;
}

svg {
  margin-top: 80px;
}

.intro {
  font-size: 35px;
}

.review {
  font-style: italic;
}