/* CSS declarations go here */
.judge {
  margin: 30px;
}

.score {
  font-size: 50px;
  font-weight: bold;
  position: relative;
  right: 320px;
  bottom: 130px;
}
.arc path {
  stroke: #fff;
}

svg {
  margin-top: 80px;
}

.intro {
  font-size: 35px;
}

.review {
  font-style: italic;
  margin-top: 60px;
}
.scores_ratings {
  margin: 10px;
}
.suggestion_score, .ratings {
  position: relative;
  bottom: 100px;
  margin-left: 10px;
}
.suggestion_title {
  position: relative;
  top: 80px;
}